# Maven build directory
/target

# IntelliJ files
/.idea
jw4a.iml
/gen

# Local files for development purposes
/run.sh
/Jw4aLists.txt
/trash

# SO directory files
.directory
desktop.ini
*.swp
.DS_Store